<div class="wrapper" ng-controller="TodoController as controller">
    <div class="content">

        <header><img class="todo-logo" src="/frontend/app/view/logo.png">&nbsp;todos</header>

        <main>
            <section class="todo-editor">
                <form>
                    <span class="todo-editor-checkbox">
                        <input type="checkbox" style="width: 60px; height: 34px;">
                    </span>
                    <input type="text" class="todo-editor-input" name="todo-editor-input" placeholder="What needs to be done?">
                </form>
            </section>

            <section class="todo-items">
                <form>
                    <ul ng-repeat="todo in controller.todos">
                        <li>
                            <input type="checkbox" ng-model="todo.isDone">
                            <label ng-class="{ isDone: todo.isDone }">{{ todo.name }}</label>
                            <button ng-click="controller.deleteTodo(todo.id)">X</button>
                        </li>
                    </ul>
                </form>
            </section>

            <section>
                <filter-bar></filter-bar>
            </section>
        </main>

    </div>
</div>